/*Skyelar Delaney 
Assignment 1.3 - Using CSS to make it personal*/
body
{
background:radial-gradient(rgb(131,6,58),black);
}
nav
{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
p
{
    
    text-align: center; 
    color: aliceblue;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration:underline;
text-decoration-color:lightgray;   
}

header
{
    color: aliceblue;
    text-align: center;
}

h1
{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
img
{
    margin-right: 200px;
}
button
{
    color: black;
    border-color: rgb(4, 37, 37);
    width: 70px;
    height: 40px;
    border-width: 10px;
    border-radius: 20px;
    
}